*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(149, 165, 166);
}
.main{
    margin-top: 200px;
    text-align: center;
}
.main button{
    background-color: #b920fa;
    color: #fff;
    font-size: 35px;
    padding: 5rem;
    border-radius: 10px;
    /* width: 100px; */
    /* height: 100px; */
}



.aud{
    /* display: none; */
}